<mat-card>

  <mat-horizontal-stepper>

    <form [formGroup]="firstFormGroup" (ngSubmit)="submit">

    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>First name & Birth date</ng-template>
        <mat-form-field [style.width.px]=230>
          <mat-label>First name</mat-label>
          <input matInput placeholder="Type your answer here" formControlName="firstGroupCtrl1" required>
        </mat-form-field>
          <br>
          <br>
          <br>

        <mat-form-field [style.width.px]=230>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Type your answer here" formControlName="firstGroupCtrl2" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div>
          <button mat-button  matStepperNext>Next</button>
        </div>


    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="OS of choice">


        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="MacOS">Mac OS</mat-option>
            <mat-option value="Linux">Linux</mat-option>
            <mat-option value="Windows">Windows</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

    </mat-step>


      <mat-step [stepControl]="thirdFormGroup">

          <ng-template matStepLabel>Something about you</ng-template>

          <mat-form-field [style.width.px]=300>
            <mat-label>Something about you</mat-label>
            <input matInput placeholder="Experienced dev with about (140 char. top)">
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <br>
            <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
          </div>
      </mat-step>
    </form>

  </mat-horizontal-stepper>





</mat-card>
